@import "../public/css/bootstrap.css";

/*14*/
:root {
    --bs-body-font-size: 1.5rem;
    --bs-border-width-root: 2px;
    --bs-btn-font-size-root: 1.5rem;
    --bs-btn-padding-y-root: 0.75rem;
    --bs-btn-line-height-root: 1.5;
    --btn-box-shadow-offset-x: 3px;
    --btn-box-shadow-offset-y: 3px;
    --btn-box-shadow-spread-radius: 1px;
    --btn-total-height: calc(
            var(--bs-btn-font-size-root) * var(--bs-btn-line-height-root) +
            2 * var(--bs-btn-padding-y-root) + 2 * var(--bs-border-width-root));
    --btn-shadow-width: calc(var(--btn-box-shadow-offset-y) + var(--btn-box-shadow-spread-radius));
    --btn-with-shadow-height: calc(
            var(--btn-total-height) + var(--btn-box-shadow-offset-y) + var(--btn-box-shadow-spread-radius));
    --btn-circle-dimension: calc(64px + 2 * var(--bs-border-width-root));
    --shadow-color: var(--bs-black);
    --category-dropdown-grid-gap: 1rem;
}

[data-bs-theme=light], [data-bs-theme=dark] {
    --bs-dark-border-subtle-fixed: #343a40;
}

[data-bs-theme=light] {
}

[data-bs-theme=dark] {
}

/*224*/
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p {
    overflow-wrap: break-word;
    word-break: break-word
}

p {
    margin: 0;
}

/*761*/
.container {
    padding-left: 0;
    padding-right: 0;
}

/*2122*/
.form-control {
    font-size: var(--bs-body-font-size);
}

.form-control, .form-control:focus, .form-control::placeholder {
    color: var(--bs-emphasis-color);
}

.form-control::placeholder {
    opacity: 0.5;
}

/*2980*/
.btn {
    --bs-btn-font-size: var(--bs-btn-font-size-root);
    --bs-btn-padding-y: var(--bs-btn-padding-y-root);
    --bs-btn-line-height: var(--bs-btn-line-height-root);
    --bs-btn-border-width: var(--bs-border-width-root);
    --bs-btn-border-color: var(--bs-black);
    --bs-btn-box-shadow: calc(var(--btn-box-shadow-offset-x) * -1) var(--btn-box-shadow-offset-y) 0 var(--btn-box-shadow-spread-radius) var(--bs-btn-border-color);
    border-color: var(--bs-btn-border-color);
    box-shadow: var(--bs-btn-box-shadow);
    transition: all 0.4s;
    transform: translate(0, 0);
}

.btn-circle {
    padding: 0;
    border-radius: 50% !important;
    border-width: var(--bs-btn-border-width) !important;
    width: var(--btn-circle-dimension);
    height: var(--btn-circle-dimension);
}

.btn-no-shadow {
    --bs-btn-box-shadow: 0;
}

.btn:active {
    border-color: var(--bs-btn-border-color) !important;
    box-shadow: none;
    transform: translate(-3px, 3px);
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-border-color) !important;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    border-color: #000;
}

/* 4447 */
.card-title {
    margin-bottom: 0;
    color: var(--bs-card-title-color);
}

/*4742*/
.pagination {
    --bs-bg-opacity: 1;
    --bs-pagination-bg: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
    --bs-pagination-color: var(--bs-emphasis-color);
    --bs-pagination-active-bg: var(--bs-danger);
    --bs-pagination-active-border-color: var(--bs-info);
    --bs-pagination-focus-box-shadow: none;
}

.pagination .page-item {
    width: 80px;
    height: 60px;
}

.page-link svg {
    fill: var(--bs-pagination-color);
}

.page-link.active, .active > .page-link {
    z-index: 0;
}

.pagination-lg {
    --bs-pagination-font-size: var(--bs-btn-font-size-root);
}

/*6109*/
.carousel-control-prev, .carousel-control-prev:focus, .carousel-control-prev:not(:focus),
.carousel-control-next, .carousel-control-next:focus, .carousel-control-next:not(:focus) {
    width: 10%;
    opacity: 0;
    filter: none;
    background: linear-gradient(to right, rgba(var(--bs-tertiary-bg-rgb), 1) 0%, rgba(var(--bs-tertiary-bg-rgb), 0) 100%);
    transition: all 0.2s ease-in;
}

.carousel-control-next {
    transform: rotateZ(180deg);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-next-icon {
    transform: rotateZ(180deg);
}

/*7638*/
.border-dark-subtle-fixed {
    border-color: var(--bs-dark-border-subtle-fixed) !important;
}

.border-emphasis {
    --bs-border-opacity: 0.5;
    border-color: rgba(var(--bs-emphasis-color-rgb), var(--bs-border-opacity)) !important;
}

/*7680*/
.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

/*8388*/
.fs-0 {
    font-size: 0 !important;
}

/*8463*/
.text-align {
    text-align: justify;
    text-justify: inter-word;
}

/*8884*/
.bg-body-tertiary-gradient {
    background: linear-gradient(to right, rgba(var(--bs-tertiary-bg-rgb), 1) 0%, rgba(var(--bs-tertiary-bg-rgb), 0) 50%);
}

/*8971*/
.rounded-inherit {
    border-radius: inherit;
}


.rounded-top-inherit {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.rounded-start-inherit {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

/*12345*/
a.card {
    text-decoration: none;
}

.card {
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2),
    inset -1px -1px rgba(255, 255, 255, 0.1),
    1px 3px 8px -1px rgba(0, 0, 0, 0.15);
}

/*custom*/
#body {
    box-shadow: -5px 5px 10px var(--bs-gray-900),
    5px 5px 10px var(--bs-gray-900);
}

.scale {
    transition: all 0.2s ease-in;
}

.scale:hover {
    transform: scale(1.1);
    z-index: 1;
}

#navbar-container {
    height: auto;

    nav {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    & > * {
        width: 100%;
    }
}

#navbar-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#navbar-option {
    width: 100%;
}

.category-button {
    font-size: clamp(1.25rem, 1.5vw, var(--bs-btn-font-size));
}

#category-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
}

#category-dropdown-container {
    position: relative;
    height: var(--btn-with-shadow-height);
    width: 75%;
}

#category-dropdown-container {
    & * {
        transition: all 0.35s ease-in;
    }
}

#category-dropdown-expand-1,
#category-dropdown-expand-2,
#category-dropdown-expand-4 {
    --category-dropdown-grid-gap: 1rem;
    --expand-height: calc(var(--btn-with-shadow-height) + var(--category-dropdown-grid-gap));
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#category-dropdown-expand-1 {
    --row: 4;
    --col: 1;
    display: block;
}

#category-dropdown-expand-2 {
    --row: 2;
    --col: 2;
    display: none;
}

#category-dropdown-expand-4 {
    --row: 1;
    --col: 4;
    display: none;
}

#category-dropdown-col {
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    gap: var(--category-dropdown-grid-gap);
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#category-dropdown-col[data-index="0"] {
    --translate: 1;
}

#category-dropdown-col[data-index="1"] {
    --translate: 2;
}

#category-dropdown-col[data-index="2"] {
    --translate: 3;
}

#category-dropdown-col[data-index="3"] {
    --translate: 4;
}

#navbar-container:hover {
    #category-dropdown-container > * {
        height: calc(var(--btn-with-shadow-height) + var(--expand-height) * var(--row));
    }

    & #category-dropdown-col {
        transform: translateY(calc(var(--expand-height) * var(--translate)));
    }
}

#movie-list {
    .col:first-child {
        min-width: 100%;
    }
}

#movie-grid,
#movie-list {
    grid-template-columns: repeat(1, 1fr);
}

#rating {
    --star-height: 2rem
}

#rating-border {
    background: black;
    mask-image: url("../public/img/star.svg");
}

#rating-input {
    mask-image: url("../public/img/star-inline.svg");
    appearance: none;
}

#rating-input, #rating-border {
    height: var(--star-height);
    width: calc(5 * var(--star-height));
    mask-size: var(--star-height);
}

#rating-input::-webkit-slider-thumb {
    width: 0;
    border-width: 0;
    box-shadow: 250px 0 0 250px var(--bs-gray-700),
    -250px 0 0 250px var(--bs-warning);
}

#rating-input::-moz-range-thumb {
    width: 0;
    border-width: 0;
    box-shadow: 250px 0 0 250px var(--bs-gray-700),
    -250px 0 0 250px var(--bs-warning);
}

#option-container {
    width: 80px;
    height: 80px;
}

#option-container img, #option-dropdown {
    transition: all 0.35s ease-in;
}

#sort-criterion span {
    transition: all 0.35s ease-in;
}

#option-arrow img {
    transform: rotate(0);
}

#option-container:hover {
    #option-arrow img {
        transform: rotate(-180deg);
    }
}

#sort-option {
    height: initial;
    width: 100%;
    flex-direction: row;
}

#sort-option-container {
    padding-bottom: var(--btn-box-shadow-offset-x);
    width: 0;
    transition: height 0.3s 0s, width 0.3s 0.3s;
}

#sort-option:hover {
    #sort-option-container {
        width: 250px;
        transition: height 1.3s 1.3s, width 1.3s 0s;
    }
}

#pagination {
    height: 80px;
}

#pagination-center {
    --bs-pagination-border-radius: 0;
}


@media (min-width: 576px) {
    #navbar-container {
        height: 200px;

        nav {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 3rem;
        }
    }

    #navbar-elements {
        align-items: end;
    }

    #navbar-option {
        width: initial;
    }

    #movie-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #movie-list #rating {
        #rating-input, #rating-border {
            --aspect-ratio: 5;
            width: calc(var(--star-height) * var(--aspect-ratio));
        }
    }
}

@media (min-width: 768px) {
    #category-dropdown-container {
        #category-dropdown-expand-2 {
            display: block;
        }

        & > *:not(#category-dropdown-expand-2) {
            display: none;
        }
    }

    #movie-list .col:first-child {
        min-width: 50%;
    }
}

@media (min-width: 992px) {
    #navbar-container {
        height: 100px;
    }

    #navbar-elements {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #search-bar {
        width: 50%;
    }

    #category-dropdown-container {
        margin-left: var(--btn-shadow-width);
        width: calc(100% - var(--btn-shadow-width));

        #category-dropdown-expand-4 {
            display: block;
        }

        & > *:not(#category-dropdown-expand-4) {
            display: none;
        }
    }

    #movie-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    #movie-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1400px) {
}