@import "./assets/css/bootstrap.css";

/*14*/
:root {
    --bs-body-font-size: 1.5rem;
    --bs-btn-font-size-root: 1.5rem;
    --bs-btn-padding-y-root: 0.75rem;
    --bs-btn-line-height-root: 1.5;
    --bs-btn-border-width-root: 2px;
    --btn-circle-dimension: calc(64px + 2 * var(--bs-btn-border-width-root)) !important;
    --btn-total-height: calc(
            var(--bs-btn-font-size-root) * var(--bs-btn-line-height-root) +
            2 * var(--bs-btn-padding-y-root) + 2 * var(--bs-btn-border-width-root));
    --category-dropdown-grid-gap: 1rem;
    --margin-top-1_5-rem: 1.5rem;
    --shadow-color: var(--bs-black);
    --btn-box-shadow-offset-x: 3px;
    --btn-box-shadow-offset-y: 3px;
    --btn-box-shadow-spread-radius: 1px;
}

[data-bs-theme=light], [data-bs-theme=dark] {
    --bs-dark-border-subtle-fixed: #343a40;
}

[data-bs-theme=light] {
}

[data-bs-theme=dark] {
}

/*224*/
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p {
    overflow-wrap: break-word;
    word-break: break-word
}

p {
    margin: 0;
}

/*761*/
.container {
    padding-left: 0;
    padding-right: 0;
}

/*2122*/
.form-control {
    font-size: var(--bs-body-font-size);
}

.form-control, .form-control:focus, .form-control::placeholder {
    color: var(--bs-emphasis-color);
}

.form-control::placeholder {
    opacity: 0.5;
}

/*2980*/
.btn {
    --bs-btn-font-size: var(--bs-btn-font-size-root);
    --bs-btn-padding-y: var(--bs-btn-padding-y-root);
    --bs-btn-line-height: var(--bs-btn-line-height-root);
    --bs-btn-border-width: var(--bs-btn-border-width-root);
    --bs-btn-border-color: var(--bs-black);
    --bs-btn-box-shadow: calc(var(--btn-box-shadow-offset-x) * -1) var(--btn-box-shadow-offset-y) 0 var(--btn-box-shadow-spread-radius) var(--bs-btn-border-color);
    border-color: var(--bs-btn-border-color);
    box-shadow: var(--bs-btn-box-shadow);
    transition: all 0.4s;
    transform: translate(0, 0);
}

.btn-circle {
    padding: 0;
    border-radius: 50% !important;
    border-width: var(--bs-btn-border-width) !important;
    width: var(--btn-circle-dimension);
    height: var(--btn-circle-dimension);
}

.btn:active {
    border-color: var(--bs-btn-border-color) !important;
    box-shadow: none;
    transform: translate(-3px, 3px);
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-border-color) !important;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    border-color: #000;
}

/* 4447 */
.card-title {
    margin-bottom: 0;
    color: var(--bs-card-title-color);
}

/*4742*/
.pagination {
    --bs-bg-opacity: 1;
    --bs-pagination-bg: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
    --bs-pagination-color: var(--bs-emphasis-color);
    --bs-pagination-active-bg: var(--bs-danger);
    --bs-pagination-active-border-color: var(--bs-info);
    --bs-pagination-focus-box-shadow: none;
}

.pagination .page-item {
    width: 80px;
    height: 60px;
}

.page-link svg {
    fill: var(--bs-pagination-color);
}

.pagination-lg {
    --bs-pagination-font-size: var(--bs-btn-font-size-root);
}

/*5020*/
.list-group {

}

.list-group-item {
    border-radius: inherit;
}

/*7638*/
.border-dark-subtle-fixed {
    border-color: var(--bs-dark-border-subtle-fixed) !important;
}

.border-emphasis {
    --bs-border-opacity: 0.5;
    border-color: rgba(var(--bs-emphasis-color-rgb), var(--bs-border-opacity)) !important;
}

/*7680*/
.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

/*12345*/
a.card {
    text-decoration: none;
}

/*custom*/
#body {
    box-shadow: -5px 5px 10px var(--bs-gray-900),
    5px 5px 10px var(--bs-gray-900);
}

.scale:hover {
    transform: scale(1.1);
    z-index: 1;
}

#logo {
    transition: all 0.15s ease-in;
}

#navbar > * {
    width: 100%;
}

#cat-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
}

#cat-dropdown-container {
    --base-height: calc(var(--btn-total-height) + var(--btn-box-shadow-offset-y) + var(--btn-box-shadow-spread-radius));
    position: relative;
    height: var(--base-height);
    width: 75%;
}

#cat-dropdown-container {
    & * {
        transition: all 0.35s ease-in;
    }

    .btn {
        height: calc(var(--btn-total-height));
    }
}

#cat-dropdown-expand-1,
#cat-dropdown-expand-2,
#cat-dropdown-expand-4 {
    --category-dropdown-grid-gap: 1rem;
    --expand-height: calc(var(--base-height) + var(--category-dropdown-grid-gap));
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#cat-dropdown-expand-1 {
    --expand: 4;
    --col: 1;
    display: block;
}

#cat-dropdown-expand-2 {
    --expand: 2;
    --col: 2;
    display: none;
}

#cat-dropdown-expand-4 {
    --expand: 1;
    --col: 4;
    display: none;
}

#cat-dropdown-col {
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    gap: var(--category-dropdown-grid-gap);
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#cat-dropdown-col[data-index="0"] {
    --translate: 1;
}

#cat-dropdown-col[data-index="1"] {
    --translate: 2;
}

#cat-dropdown-col[data-index="2"] {
    --translate: 3;
}

#cat-dropdown-col[data-index="3"] {
    --translate: 4;
}

#navbar:hover {
    #cat-dropdown-container > * {
        height: calc(var(--base-height) + var(--expand-height) * var(--expand));
    }

    & #cat-dropdown-col {
        transform: translateY(calc(var(--expand-height) * var(--translate)));
    }
}

/*#category-dropdown {*/
/*    --first-height: calc(var(--btn-total-height) + var(--margin-top-1_5-rem));*/
/*    --n-th-height: calc(var(--btn-total-height) + var(--category-dropdown-grid-gap));*/
/*}*/

/*#category-dropdown > * {*/
/*    justify-content: center;*/
/*}*/

/*#category-dropdown-1-col {*/
/*    display: flex;*/
/*}*/

/*#category-dropdown-4-col,*/
/*#category-dropdown-2-col {*/
/*    display: none;*/
/*}*/

/*#category-dropdown-4-col > *,*/
/*#category-dropdown-2-col > *,*/
/*#category-dropdown-1-col > * {*/
/*    transition: all 0.35s ease-in;*/
/*}*/

/*.category-dropdown-grid {*/
/*    --translation: calc(var(--first-height) + var(--n-th-height) * var(--n));*/
/*    display: grid;*/
/*    grid-template-columns: repeat(1, 1fr);*/
/*    gap: var(--category-dropdown-grid-gap);*/
/*    justify-items: center;*/
/*    align-items: end;*/
/*    position: absolute;*/
/*    width: calc(100% - var(--btn-box-shadow-offset-x) - var(--btn-box-shadow-spread-radius));*/
/*    height: calc(100% - var(--btn-box-shadow-offset-y) - var(--btn-box-shadow-spread-radius));*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/

/*.category-dropdown-grid[data-index="1"] {*/
/*    --n: 0;*/
/*}*/

/*.category-dropdown-grid[data-index="2"] {*/
/*    --n: 1;*/
/*}*/

/*.category-dropdown-grid[data-index="3"] {*/
/*    --n: 2;*/
/*}*/

/*.category-dropdown-grid[data-index="4"] {*/
/*    --n: 3;*/
/*}*/

/*#navbar:hover {*/
/*    #category-dropdown-4-col {*/
/*        height: calc(100% + var(--first-height));*/
/*    }*/

/*    #category-dropdown-2-col {*/
/*        --n: 1;*/
/*    }*/

/*    #category-dropdown-1-col {*/
/*        --n: 3;*/
/*    }*/

/*    #category-dropdown-2-col, #category-dropdown-1-col {*/
/*        height: calc(100% + var(--first-height) + (var(--n-th-height) * var(--n)));*/
/*    }*/

/*    #category-dropdown-4-col,*/
/*    #category-dropdown-2-col,*/
/*    #category-dropdown-1-col {*/
/*        .category-dropdown-grid {*/
/*            transform: translateY(var(--translation));*/
/*        }*/
/*    }*/
/*}*/

#movie-list {
    .col[data-index="1"] {
        min-width: 100%;
    }

    img {
        border-radius: var(--bs-border-radius)
    }
}

#movie-grid {
    .row[data-index="1"] {
        flex-direction: column;
    }

    .card-body {
        height: 100%;

        & > *:not(.card-title):not(#rating) {
            display: none !important;
        }
    }
}

#movie-grid,
#movie-list {
    grid-template-columns: repeat(1, 1fr);
}

#movie-list > * {
    transition: all 0.15s ease-in;
}

#rating {
    --star-height: 2rem
}

#rating-border {
    background: black;
    mask-image: url("assets/img/star.svg");
}

#rating-input {
    mask-image: url("assets/img/star-inline.svg");
    appearance: none;
}

#rating-input, #rating-border {
    height: var(--star-height);
    width: calc(5 * var(--star-height));
    mask-size: var(--star-height);
}

#rating-input::-webkit-slider-thumb {
    width: 0;
    border-width: 0;
    box-shadow: 250px 0 0 250px var(--bs-gray-700),
    -250px 0 0 250px var(--bs-warning);
}

#rating-input::-moz-range-thumb {
    width: 0;
    border-width: 0;
    box-shadow: 250px 0 0 250px var(--bs-gray-700),
    -250px 0 0 250px var(--bs-warning);
}

#option {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#option-container {
    width: 80px;
    height: 80px;
}

#option-container img, #option-dropdown {
    transition: all 0.35s ease-in;
}

#option-dropdown {
    width: 0;
    height: 100%;
    right: 50%;
    bottom: 0;
    flex-direction: row;
    justify-content: end;
    padding-left: 0.5rem;
}

#option-container:hover {
    #option-arrow img {
        transform: rotateZ(180deg);
    }
}

#sort {
    height: 100%;
    flex-direction: column;
}

#sort-option {
    right: 0;
    bottom: 100%;
    height: 0;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    background-color: initial;
    overflow: hidden;
    transition: height 0.35s 0.15s;
}

#sort:hover {
    #sort-option {
        height: calc(var(--btn-circle-dimension));
    }
}

.pagination-flex {
    --bs-pagination-border-radius: 0;
    text-align: center;
    display: flex;
}

@media (max-width: 767.98px) {
    #option-container:hover #option-dropdown {
        width: 210px;
    }

    #sort-option {
        gap: 1rem
    }
}

@media (min-width: 576px) {
    #movie-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #movie-list #rating {
        #rating-input, #rating-border {
            --aspect-ratio: 5;
            width: calc(var(--star-height) * var(--aspect-ratio));
        }
    }
}


@media (min-width: 768px) {
    #cat-dropdown-container {

        #cat-dropdown-expand-2 {
            display: block;
        }

        & > *:not(#cat-dropdown-expand-2) {
            display: none;
        }
    }

    #movie-list .col[data-index="1"] {
        min-width: 50%;
    }

    #option {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    #option-arrow img {
        transform: rotateZ(90deg);
    }

    #option-dropdown {
        width: 100%;
        height: 0;
        right: 0;
        bottom: 50%;
        flex-direction: column;
        justify-content: end;
        padding-left: 0;
        padding-top: 0.5rem;
    }

    #option-container:hover {
        #option-arrow img {
            transform: rotateZ(-90deg);
        }

        #option-dropdown {
            height: 210px;
        }
    }

    #sort {
        height: initial;
        width: 100%;
        flex-direction: row;
    }

    #sort-option {
        right: 100%;
        bottom: 0;
        width: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: height 0.3s 0s, width 0.3s 0.3s;
    }

    #sort:hover {
        #sort-option {
            width: 150%;
            height: 300px;
            transition: height 0.3s 0.3s, width 0.3s 0s;
        }
    }
}

@media (min-width: 992px) {
    #cat-dropdown-container {
        width: calc(100% - var(--btn-box-shadow-offset-x));
        align-self: end;

        #cat-dropdown-expand-4 {
            display: block;
        }

        & > *:not(#cat-dropdown-expand-4) {
            display: none;
        }
    }

    #movie-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    #movie-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1400px) {
}

